/* generics */
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 0;
}

body {
    background-color: #6a6767;
}

/* header */
header {
    line-height: 85px;
    background-color: white;
}

.logo-description {
    font-size: 55px;
    display: inline-block;
    vertical-align: super;
}

img {
    margin-left: 2.5%;
}

/* main */

main {
    height: 650px;
    margin: 50px 15% 15px;
    background-color: white;
    border-radius: 5px;
}

.options {
    height: 7.3%;
    background-color: white;
    border-radius: 5px;
}

/*  bottoni */

.button {
    display: inline-block;
    font-size: 10px;
    text-align: center;
    border-radius: 5px;
    margin-top: 15px;
}

#add-task {
    width: 55px;
    height: 18px;
    margin-left: 45px;
    margin-top: 11px;
    color: white;
    background-color: dodgerblue;
    padding-top: 7px;
}

#add-section {
    width: 75px;
    height: 16px;
    color: rgb(183, 174, 174);
    border: 1px solid rgb(183, 174, 174);
    padding-top: 6px;
    padding-bottom: 1px;
    margin-left: 5px;
}

/* boolist */
/* margine main */
.list-container {
    margin: 45px 0 0 45px;
}

/* freccia in basso e entità */
.arrow-down {
    color: #6a6767;
    font-weight: bolder;
    margin-top: 35px;
}

.green-check {
    color: green;
    border-radius: 50%;
    border: solid 1px;
}

.red-wrong {
    color: red;
    border-radius: 50%;
    border: solid 1px
}

/* elementi lista */
ul {
    list-style-type: none;
}

li {
    margin: 15px 0;
}

/* caratteristiche comuni delle icone a fine riga */
.specifiche {
    width: 55px;
    height: 18px;
    color: white;
    border-radius: 5px;
    font-size: 10px;
    text-align: center;
    padding: 5px;
}

/*colori  singole icone */
#editorial {
    background-color: dodgerblue;
}

#q1-goals {
    background-color: rgb(202, 68, 202);
}

#recruiting {
    background-color: rgb(28, 177, 98);
}

#mobile {
    background-color: orange;
}

#website {
    background-color: rgb(202, 58, 174);
}

#sales {
    background-color: rgb(124, 177, 20);
}